*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

main{
  height: 100dvh;
  width: 100vw;
  background-color: #ebfffd;
}

button{
  background: #010b9c9d;
  margin: 0.2rem 0;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem;
  &:hover{
    background: #0008729d;
  }
}

#change-auth-btn{
  background: none;
  border-radius: 0;
  padding: 0.2rem;
  border-bottom: 0.1rem solid #010b9c9d;
}

label{
  display: flex;
  align-items: center;
}

/* SCREEN STYLINGS */
.screen-fill{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-screen{
  gap: 2rem;
  justify-content: center;
}

.main-screen{
  justify-content: center;
}

.sub-screen{
  justify-content: center;
}

/* GROUPING STYLINGS */
.container{
  border: none;
  box-shadow: 0 0 10px 4px #00000099;
  background-color: #f5ffff;
  border-radius: 0.8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25rem;
  min-height: 12rem;
  >*{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.sub-screen-container{
  border: none;
  box-shadow: 0 0 10px 4px #00000099;
  background-color: #f5ffff;
  border-radius: 0.8rem;
  padding: 1.2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: clamp(25rem,45vw, 100rem);
  height: clamp(25rem, 75dvh, 150rem);
  min-width: 45vw;
  min-height: 25rem;
  >*{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.buttons-group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.6rem;
}

.screen-title{
  position: fixed;
  top: 15dvh;
  text-align: center;
}

.sub-screen-title{
  position: fixed;
  top: 5dvh;
  text-align: center;
}

.nav-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100% ;
  gap: 0.2rem;
  >.dir-tracking{

  }
  >.action-btns{
    display: flex;
    gap: 0.2rem;
    >button{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      text-align: center;
      aspect-ratio: 2/1;
      height: 2.5rem;
    }
  }
}